#error-content {
    font-family: 'Roboto', 'sans-serif';
    margin: auto;
    text-align: center;
    padding: 6%;
}

#error-content h1 {
    color: green;
    font-weight: bold;
    font-size: 180px;
}

#error-content h3 {
    color: black;
    font-weight: bold;
    font-size: 45px;
}

#error-content p {
    color: black;
    font-weight: 300;
    font-size: 45px;
}

#error-content a {
    display: block;
    width: 150px;
    height: 45px;
    background: green;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    color: white;
    line-height: 25px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5rem;
    font-weight: bold;
}